<% title "Вход" %>

<% form_for @user_session do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label "Логин:" %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label "Пароль:" %><br />
    <%= f.password_field :password %>
  </p>
  <p><%= f.submit "Войти" %></p>
<% end %>


